{% extends 'base.html' %}
{% block title %}SPCApp Home{% endblock %}
{% block content %}
  <div class="home-title">
    <img src="/static/images/image.png" alt="Spectra Tech Logo">
    <!-- <h1>HUB</h1> -->
  </div>
  <!-- <button onclick="location.href='{{ url_for('logout') }}'">Logout</button> -->
  <div class="job-previews">
    <h2>Floor Jobs Preview</h2>
    <div class="job-grid">
      {% for job in sample_jobs %}
        <div class="job-preview {{ job.highlight }}">
          <strong>{{ job.job }} – due {{ job.due_date }} ({{ job.due_in }})</strong>
          <ul>
            {% for loc, count in job.locations %}
              <li>{{ loc }}....{{ count }}</li>
            {% endfor %}
            <li>Total: {{ job.total }}</li>
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
  <p>Select a section below:</p>
  <div class="widgets">
    <div class="widget" onclick="location.href='/jobs'">
      <h2>Jobs</h2>
      <p>Manage Floor Jobs (<i>in progress</i>)</p>
    </div>
    {% if is_admin or permissions.get('analysis') %}
    <div class="widget" onclick="location.href='/analysis'">
      <h2>Data Analysis</h2>
      <p>Upload And Data Mine Reports From SPC</p>
    </div>
    {% endif %}
    {% if is_admin or permissions.get('part_markings') %}
    <div class="widget" onclick="location.href='/part-markings'">
      <h2>Verified Part Markings</h2>
      <p>Lookup Part Numbers To Find Their Verified Part Markings</p>
    </div>
    {% endif %}
    {% if is_admin or permissions.get('aoi') %}
    <div class="widget" onclick="location.href='/aoi'">
      <h2>AOI Daily Report</h2>
      <p>View and Upload AOI Reports With Data Insights.</p>
    </div>
    {% endif %}
    {% if is_admin or permissions.get('dashboard') %}
    <div class="widget" onclick="location.href='#'">
      <h2>SPC Dashboard</h2>
      <p>Statistical Controls (<i>in progress</i>)</p>
    </div>
    {% endif %}
  </div>
{% endblock %}
